<main class="clases">
  <h2 class="clases__heading">Próximas Clases</h2>

  <div class="clases__grid contenedor">
    <div class="clase">
      <img
        src="/img/clase1.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
    <div class="clase">
      <img
        src="/img/clase2.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana para principiantes</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
    <div class="clase">
      <img
        src="/img/clase3.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana para principiantes</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
    <div class="clase">
      <img
        src="/img/clase4.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana para principiantes</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
    <div class="clase">
      <img
        src="/img/clase5.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana para principiantes</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
    <div class="clase">
      <img
        src="/img/clase6.jpg"
        alt="Imagen clase"
        class="clase__imagen"
      />

      <div class="clase__meta">
        <p class="clase__fecha">22 / Mayo / 2024 18:00 HRS</p>
        <p class="clase__precio">$300</p>
      </div>
      <div class="clase__contenido">
        <h3 class="clase__nombre">Comida Italiana para principiantes</h3>
        <p class="clase__descripcion">
          Aprende las bases de la comida italizan con este curso
        </p>
        <p class="clase__texto">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem
          aliquid numquam eaque in accusantium neque provident eius odit
          distinctio tempore?
        </p>
        <a
          href="#"
          class="clase__enlace"
          >Más información</a
        >
      </div>
    </div>
    <!-- *Clase -->
  </div>
</main>
