<section class="escuela">
  <h2 class="escuela__heading">¿Quieres ser Chef?</h2>
  <p class="escuela__texto">Estudia la licenciatura para convertirte en Chef con Nosotros</p>
  <a href="#" class="escuela__enlace">Mas Información</a>
</section>