<section class="nosotros contenedor">
  <h2 class="nosotros__heading">¿Por qué estudiar con nosotros?</h2>

  <div class="nosotros__grid">
    <div class="nosotros__bloque">
      <img
        src="/img/icono_chef.png"
        alt="Imagen Icono"
        class="nosotros__imagen"
      />
      <h3 class="nosotros__bloque-heading">Chef's especialistas</h3>
      <p class="nosotros__bloque-texto">
        Los mejores chef's que han trabajado en los mejores restaurants de
        Europa
      </p>
    </div>

    <div class="nosotros__bloque">
      <img
        src="/img/icono_vino.png"
        alt="Imagen Icono"
        class="nosotros__imagen"
      />
      <h3 class="nosotros__bloque-heading">Incluye todo sobre bebidas</h3>
      <p class="nosotros__bloque-texto">
        Además de la cocina, incluimos en el programa todo lo relacionado a
        bebidas.
      </p>
    </div>

    <div class="nosotros__bloque">
      <img
        src="/img/icono_menu.png"
        alt="Imagen Icono"
        class="nosotros__imagen"
      />
      <h3 class="nosotros__bloque-heading">Siempre Actualizado</h3>
      <p class="nosotros__bloque-texto">
        El programa se actualiza constantemente con nuevos platillos y técnicas.
      </p>
    </div>
  </div>
</section>
