<header class="header contenedor">
  <div class="header__grid">
    <div class="header__logo">
      <img
        src="/img/logo.svg"
        alt=""
      />
    </div>

    <nav class="navegacion">
      <a href="#" class="navegacion__link">Nosotros</a>
      <a href="#" class="navegacion__link">Blog</a>
      <a href="#" class="navegacion__link">Clases</a>
      <a href="#" class="navegacion__link">Galería</a>
      <a href="#" class="navegacion__link">Contacto</a>
    </nav>
  </div>
</header>
